{% extends 'padrao.html' %}

{% block conteudo %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class="list-unstyled" id=""messages>
        {% for message in messages %}
            <li class="alert alert-danger">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

    <form method="post" action="/adicionar">
        <fieldset>
            

            <div class="mb-3">
                <label for="txtCadastroNomeUser">Nome</label>
                <input type="text" name="txtCadastroNomeUser" id="txtCadastroNomeUser" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="txtCadastroUser">Usuario</label>
                <input type="text" name="txtCadastroUser" id="txtCadastroUser" class="form-control">
            </div>

            <div class="mb-3">
                <label for="txtCadastroCPF">CPF</label>
                <input type="text" name="txtCadastroCPF" id="txtCadastroCPF" class="form-control">
            </div>

            <div class="mb-3">
                <label for="txtCadastroEmail">Email:</label>
                <input type="text" name="txtCadastroEmail" id="txtCadastroEmail" class="form-control">
            </div>

            <div class="mb-3">
                <label for="txtCadastroTel">Telefone:</label>
                <input type="text" name="txtCadastroTel" id="txtCadastroTel" class="form-control">
            </div>

            <div class="mb-3">
                <label for="txtCadastroSenha">Senha:</label>
                <input type="text" class="form-control" name ="txtCadastroSenha" id="txtCadastroSenha">
            </div>


           
            
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </fieldset>
        
    </form>
{% endblock %}   